
<section class="Guideline" style="width:100%;">
    <div class="row">
        <div class="columns large-12">
           <div class="Guideline-title">Colors</div>
           <p>Please be sure you are downloading the correct logo for your purpose (ie. for print, download CMYK, for web, download RGB). If you intend to post the ISL logo on a website, please download the image and reupload it to your server — do not hotlink from our server.</p>
        </div>
    </div>
   <!-- Guideline -->
    <div class="Guideline-item row">
        <div class="columns small-12">
          <div style="background: #43d8f8;" class="swatch"></div>
              <ul class="swatch-details">
                <li> <span class="subheader">TURQUOISE</span></li>
                <li><b>Pantone:</b> PMS 3105 U</li>
                <li><b>Pantone:</b> PMS 3115 C</li>
                <li><b>CMYK:</b> 60, 0, 14, 0</li>
                <li><b>RGB:</b> 67, 216, 248</li>
                <li><b>Hex:</b> #43d8f8</li>
              </ul>
        </div>
        <div class="columns small-12">
          <div style="background: #0a0a0a;" class="swatch"></div>
              <ul class="swatch-details">
                <li><span class="subheader">Black</span></li>
                <li><b>Pantone:</b> PMS Black 6 U</li>
                <li><b>CMYK:</b> 81, 71, 58, 75</li>
                <li><b>RGB:</b> 10, 10, 10</li>
                <li><b>Hex:</b> #0a0a0a</li>
              </ul>
        </div>

        <div class="columns small-12">
          <div style="background: #8b8b8b;" class="swatch"></div>
              <ul class="swatch-details">
                <li> <span class="subheader">Gray</span></li>
                <li><b>Pantone:</b> PMS 3105 U</li>
                <li><b>Pantone:</b> PMS 3115 C</li>
                <li><b>CMYK:</b> 60, 0, 14, 0</li>
                <li><b>RGB:</b> 67, 216, 248</li>
                <li><b>Hex:</b> #43d8f8</li>
              </ul>
        </div>
        <div class="columns small-12">
          <div style="background: #fff;box-shadow:0 0 1.2rem rgba(0,0,0,.1);" class="swatch"></div>
              <ul class="swatch-details">
                <li><span class="subheader">White</span></li>
                <li><b>Pantone:</b> PMS Black 6 U</li>
                <li><b>CMYK:</b> 81, 71, 58, 75</li>
                <li><b>RGB:</b> 10, 10, 10</li>
                <li><b>Hex:</b> #0a0a0a</li>
              </ul>
        </div>
    </div>




</section>

