{# ======================================
Assets For Colors Section
========================================= #}
{% set assetPath = './assets/color' %}
{% set colorDownload = 'ISL-color-palette-6-30-17.zip' %}

{% set items = [
  {
    name: "Black",
    hex: "#121820",
    rgb: "18, 24, 32",
    cmyk: "81, 71, 58, 75",
    pms: "PMS Black 6 U"
  },
   {
    name: "EFF U BLUE",
    hex: "#0E2CE4",
    rgb: "14, 44, 228",
    cmyk: "92, 68, 0, 0"
  },

  {
    name: "Gray",
    hex: "#EFEFEF",
    rgb: "239, 239, 239",
    cmyk: "0, 0, 0, 6"
  },
  {
    name: "White",
    hex: "#ffffff",
    rgb: "255,255,255",
    cmyk: "0, 0, 0, 0",
    swatchStyle: "box-shadow:0 0 1.2rem rgba(0,0,0,.1);"
  }
]
%}

{# ======================================
Markup/Guidelines for Color Section
========================================= #}

<section id="colors" class="Guideline">
    <div class="row">
        <div class="columns large-12">
           <div class="Guideline-title">Colors
            <a class="Guideline-download right" href="{{assetPath}}/{{colorDownload}}" download="{{assetPath}}/{{colorDownload}}">Download Swatches</a>
            </div>
            <p>Our primary colors are Black and White.  Turquoise is an accent color that can be used for fills and borders.  The only font that can be set in Turqoise is copy as a secondary element.  When using Black it is important to note that our black is not pure Black.  Gray should only be used for body type set in Adelle.</p>
           </p>
        </div>
    </div>
   <!-- Guideline -->
    <div class="Guideline-item row">
        {% for item in items %}
        <div class="columns small-12">
          <div style="background: {{item.hex}};{% if item.swatchStyle %}{{item.swatchStyle}}{% endif %}" class="swatch"></div>
              <ul class="swatch-details">
                <li> <span class="subheader">{{item.name}}</span></li>
                {% if item.hex %}<li><b>Hex:</b> {{item.hex}}</li>{% endif %}
                {% if item.rgb %}<li><b>RGB:</b> {{item.rgb}}</li>{% endif %}
                {% if item.cmyk %}<li><b>CMYK:</b> {{item.cmyk}}</li>{% endif %}
                {% if item.pms %}<li><b>Pantone:</b> {{item.pms}}</li>{% endif %}
              </ul>
        </div>
        {% endfor %}
    </div>




</section>

