<footer class="footer ">
    <div class="footer__cta">
        <div class="row">
            <div class="columns small-11 small-centered">
                <h1 class="type--xlarge no-margin-bottom footer-cta__message">Like what you see?</h1>

                <div>
                    <a href="//isl.co" target="_blank" class="button button--dark button--ghost" style="opacity: 1;">
                        View our work
                        <div class="button__beaker" style="filter: url("#goo");">
                            <span class="button__blob"></span>
                            <span class="button__blob"></span>
                            <span class="button__blob"></span>
                            <span class="button__blob"></span>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
    <div class="columns small-12 medium-11 medium-centered">
        <div class="row">
            <div class="columns small-12 medium-4 small-centered medium-uncentered">
                <p class="footer__message no-margin-bottom small-text-center medium-text-left">
                <a href="/">ISL</a> is a <a href="http://wpp.com/wpp/" target="_blank" title="ISL is part of the WPP company">WPP Company</a>
                </p>
            </div>

            <div class="columns small-12 medium-4 small-centered medium-uncentered">
                <p class="footer__message no-margin-bottom small-text-center">
                    <a href="/privacy-policy/">Privacy Policy</a> / Copyright ISL 2019
                </p>
            </div>

            <div class="columns small-12 medium-4 small-centered medium-uncentered">
                <div class="footer__social-container">
                    <a class="footer__social icon-twitter" href="https://twitter.com/istrategylabs" title="Follow ISL on Twitter">
                        <span class="show-for-sr">Follow ISL on Twitter</span>
                    </a>
                    <a class="footer__social icon-facebook" href="https://www.facebook.com/istrategylabs" title="Like ISL on Facebook">
                        <span class="show-for-sr">Like ISL on Facebook</span>
                    </a>
                    <a class="footer__social icon-instagram" href="https://instagram.com/istrategylabs/" title="Follow ISL on Instagram">
                        <span class="show-for-sr">Follow ISL on Instagram</span>
                    </a>
                    <a class="footer__social icon-linkedin" href="https://linkedin.com/company/istrategylabs/" title="Connect with ISL on LinkedIn">
                        <span class="show-for-sr">Connect with ISL on Linkedin</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
</footer>
