<div class="Header">
    <div class="row z-top">
        <div class="columns small-12 large-10">
            <img class="Header-logo" src="./assets/logos/isl-milk-logo-large-white.gif">
        </div>
        <div class="columns small-12 large-2" style="padding-top:3rem">
            <a class="button button--light" style="float:right" href="https://docs.google.com/document/d/1-CNMsieJxI31rPjA-Ii7JUHtZsVm13OYbrod2kCTFwU/edit">Press Kit</a>
        </div>
    </div>
    <div class="row z-top">
        <div class="columns small-12">
            <h1>Our brand guidelines</h1>
        </div>
    </div>

</div>
<div class="hero__down hero__down--light z-top">
                <span style="position:relative;right:8px;top:-6px">Take a look</span>

                <!--<svg width="85px" height="20px" viewBox="0 0 85 20">
                            <path d="M0 10 L85 10"></path>
                            <path d="M75 0 L85 10 L75 20"></path>
                        </svg>-->
            </div>
            <style>


    .curve {
      fill: none;
      stroke: #333;
    }
            </style>
             <svg class="Header-viz"></svg>

</div>

<!-- JS for visualization-->
  <script>
    var side = 40;
    var revealDuration = 100;
    var revealOffset = 90;
    var steps = 4

    var hilbertConfig = {
      steps: steps,
      axiom: 'A',
      rules: {
        A: '-BF+AFA+FB-',
        B: '+AF-BFB-FA+'
      }
    }
    var test = LSystem.fractalize(hilbertConfig);

    var angle = -Math.PI / 2;
    var testCurve = LSystem.path({
      fractal: test,
      side: side,
      angle: angle,
    })

    var testGrid = LSystem.grid({
      fractal: test,
      side: side,
      angle: angle
    })

    var color = d3.scale.linear()
      .domain([0, testGrid.length])
      .range(["#333", "#444"])
      .interpolate(d3.interpolateHcl)

    var svg = d3.select("svg")

    var g = svg.append("g")
    .attr("transform", "translate(330, 40)")

    var duration = testGrid.length * revealOffset;
    g.append("path").classed("curve", true)
    .attr({
      d: testCurve,
      "stroke-dasharray": function() {
        var tracklength = this.getTotalLength();
        return tracklength + " " + tracklength;
      },
      "stroke-dashoffset": function() {
        return this.getTotalLength();
      },
    })
    .transition()
      .duration(duration).delay(revealDuration/2)
      .ease("linear")
      .attrTween("stroke-dashoffset", revealAlong)

    g.selectAll("circle.point")
      .data(testGrid)
      .enter()
      .append("circle").classed("point", true)
      .attr({
        cx: function(d,i) { return d.x },
        cy: function(d,i) { return d.y },
        r: 4,
        fill: function(d,i) { return color(d.j) },
        opacity: 0,
      })
      .transition().duration(revealDuration)
      .delay(function(d) { return d.j * revealOffset })
      .attr({
        opacity: 1
      })


function revealAlong(d, i, a) {
  var l = this.getTotalLength();
  return function(t) {
    if(t > 1) { t = 1}
    return l * (1-t);
  };
};


  </script>
