<div class="Header">
<!--loop autoplay-->

<video class="Header-bkgVideo js-lazyload" id="js-homepage-hero-video" src="./static/video/header.mp4" alt="ISL - An award winning digital agency founded on invention"  muted volume="0"></video>
<div class="Header-bkgOverlay"></div>

  <div class="row z-top">
      <div class="columns small-12">
          <a href="https://isl.co"><img class="Header-logo" src="./static/img/isl-milk-logo-large-white.gif"></a>
          <a class="button button--light Header-cta" href="https://www.dropbox.com/sh/xcvoeulu2i4lfdb/AAANCRuTMPTWoShz6mmUUn_-a?dl=0" target="_blank" style="float:right">Press Kit</a>
      </div>
  </div>
  <div class="Header-inner row z-top" style="pointer-events:none">
      <div class="columns small-12">
          <h1 class="Header-title white">Our <span class="hero-underline">brand</span> guidelines</h1>
      </div>
  </div>
</div>

<div class="hero__down hero__down--light z-top">
  <span style="position:relative;right:8px;top:-6px">Take a look</span>
  <svg width="85px" height="20px" viewBox="0 0 85 20">
    <path d="M0 10 L85 10"></path>
    <path d="M75 0 L85 10 L75 20"></path>
  </svg>
</div>





<!-- JS for visualization-->

