<section class="Guideline" style="width:100%;">
    <div class="row">
        <div class="columns large-12">
           <div class="Guideline-title">Icons</div>
           <p>Please be sure you are downloading the correct logo for your purpose (ie. for print, download CMYK, for web, download RGB). If you intend to post the ISL logo on a website, please download the image and reupload it to your server — do not hotlink from our server.</p>
        </div>
    </div>
    <div class="row">
        <div class="columns small-12">
            <img src="./assets/icons/isl-icons-preview.png">
        </div>
    </div>
</section>
