<section id="icons" class="Guideline" style="width:100%;">
    <div class="row">
        <div class="columns large-12">
           <div class="Guideline-title">Icons
            <a class="Guideline-download right" href="./assets/icons/isl-icons.zip" download="./assets/icons/isl-icons.zip"  target="_blank">Download Icons</a>
           </div>
           <p>ISL icons use an outline style with a 2.5pt stroke.  Grayscale values may be used on secondary lines to create interest.  Icons are reversable into white.  In very limited situations it may be appropriate to use an aqua accent; check with your art director for approval. </p>
        </div>
    </div>
    <div class="row">
        <div class="columns small-12 pt-1">
            <img src="./assets/icons/isl-icons-preview.png">
        </div>


    </div>
</section>
