{# ======================================
Assets For Logos Section
========================================= #}
{% set assetPath = './assets/logos' %}
{% set items = [
  {
    name: "Turquoise",
    preview: "isl-identity-turquoise@1478x984.png",
    png: "isl-identity-turquoise@1478x984.png",
    svg: "isl-identity-turquoise.svg",
    cmyk: "isl-identity-turquoise.eps",
    pms: "isl-identity-turquoise-pms.zip"
  },
  {
    name: "Black",
    preview: "isl-identity-black@1478x984.png",
    png: "isl-identity-black@1478x984.png",
    svg: "isl-identity-black.svg",
    cmyk: "isl-identity-black.eps",
    pms: "isl-identity-black-pms.zip"
  },
  {
    name: "White",
    preview: "isl-identity-white-preview@1478x984.png",
    png: "isl-identity-white@1478x984.png",
    svg: "isl-identity-white.svg",
    cmyk: "isl-identity-white.eps",
    pms: "isl-identity-white-pms.zip"
  }
]
%}

{# ======================================
Markup/Guidelines for Logos Section
========================================= #}
<section id="logos" class="Guideline">
    <div class="row">
        <div class="columns large-12">
           <div class="Guideline-title">Logos</div>
           <p>Please be sure you are downloading the correct logo for your purpose (ie. for print, download CMYK, for web, download RGB). If you intend to post the ISL logo on a website, please download the image and reupload it to your server — do not hotlink from our server.</p>

        </div>
    </div>

    <!-- Guideline -->
     {% for item in items %}
     <div class="Guideline-item row">
        <div class="columns small-5">
            <img src="{{assetPath}}/{{item.preview}}">
        </div>
        <div class="columns small-4 large-offset-1">
          <span class="subheader">{{item.name}}</span>
           <a class="Guideline-link" target="_blank" href="{{assetPath}}/{{item.png}}" download="{{assetPath}}/{{item.png}}">Screen (PNG)</a>
          <a class="Guideline-link" target="_blank" href="{{assetPath}}/{{item.svg}}" download="{{assetPath}}/{{item.svg}}">Screen (SVG)</a>
          <a class="Guideline-link" target="_blank" href="{{assetPath}}/{{item.cmyk}}" download="{{assetPath}}/{{item.cmyk}}">Print (CMYK)</a>
          <a class="Guideline-link" target="_blank" href="{{assetPath}}/{{item.pms}}" download="{{assetPath}}/{{item.pms}}">Print (PMS)</a>
        </div>
    </div>
     {% endfor %}
</section>
