
<section id="logos" class="Guideline" style="width:100%;">
    <div class="row">
        <div class="columns large-12">
           <div class="Guideline-title">Logos</div>
           <p>Please be sure you are downloading the correct logo for your purpose (ie. for print, download CMYK, for web, download RGB). If you intend to post the ISL logo on a website, please download the image and reupload it to your server — do not hotlink from our server.</p>

        </div>
    </div>

    <!-- Guideline -->
    <div class="Guideline-item row">
        <div class="columns small-5">
            <img src="./assets/logos/turquoise/screen/isl-identity-turquoise@2x.png">
        </div>
        <div class="columns small-4 large-offset-1">
          <span class="subheader">Turquoise</span>
           <a class="Guideline-link" target="_blank" href="https://drive.google.com/open?id=0B3jcEP5rkX9sMVFjQ1YtVHc5RlE">Screen (PNG)</a>
          <a class="Guideline-link" target="_blank" href="https://drive.google.com/open?id=0B3jcEP5rkX9sWF9XQjZ6clRkR1E">Screen (SVG)</a>
          <a class="Guideline-link" target="_blank" href="https://drive.google.com/open?id=0B3jcEP5rkX9sX2xJYnVnaW9uY3c">Print (CMYK)</a>
          <a class="Guideline-link" target="_blank" href="https://drive.google.com/open?id=0B3jcEP5rkX9sUThvcHJxVkE3ajg">Print (PMS)</a>
        </div>
    </div>

    <!-- Guideline -->
    <div class="Guideline-item row">
     <div class="columns small-5">
            <img src="./assets/logos/black/screen/isl-identity-black@2x.png">
        </div>
        <div class="columns small-4 large-offset-1">
          <span class="subheader">Black</span>
          <a class="Guideline-link" target="_blank" href="https://drive.google.com/open?id=0B3jcEP5rkX9sQ00zejZ1OWx2cTQ">Screen (PNG)</a>
          <a class="Guideline-link" target="_blank" href="https://drive.google.com/open?id=0B3jcEP5rkX9sOGJHUVNTUzdSbnM">Screen (SVG)</a>
          <a class="Guideline-link" target="_blank" href="https://drive.google.com/open?id=0B3jcEP5rkX9sUFA0QlB1dERHSU0">Print (CMYK)</a>
          <a class="Guideline-link" target="_blank" href="https://drive.google.com/open?id=0B3jcEP5rkX9sZUdVcElld090S1k">Print (PMS)</a>


        </div>

    </div>

    <!-- Guideline -->
    <div class="Guideline-item row">
     <div class="columns small-5" style="Background-color:#e5e5e5;padding:2em">
            <img src="./assets/logos/white/screen/isl-identity-white@2x.png">
        </div>
        <div class="columns small-4 large-offset-1">
          <span class="subheader">White</span>
           <a class="Guideline-link" target="_blank" href="https://drive.google.com/open?id=0B3jcEP5rkX9sVV9IeTlpQWFOS28">Screen (PNG)</a>
          <a class="Guideline-link" target="_blank" href="https://drive.google.com/open?id=0B3jcEP5rkX9sZWt1TkJyTUJ5SzQ">Screen (SVG)</a>
          <a class="Guideline-link" target="_blank" href="https://drive.google.com/open?id=0B3jcEP5rkX9seExwQ2M1YUN2V00">Print (CMYK)</a>
          <a class="Guideline-link" target="_blank" href="https://drive.google.com/open?id=0B3jcEP5rkX9sUTRVTGhyZE9Sck0">Print (PMS)</a>
        </div>

    </div>

</section>
