<!-- Navigation -->
<ul class="Nav" id="js-nav">
    <li class="Nav-item">
        <a href="#logos" class="js-smooth-scroll">Logos</a>
    </li>
    <li class="Nav-item">
        <a href="#colors" class="js-smooth-scroll">Colors</a>
    </li>
    <li class="Nav-item">
        <a href="#fonts" class="js-smooth-scroll">Fonts</a>
    </li>
    <li class="Nav-item">
        <a href="#icons" class="js-smooth-scroll">Icons</a>
    </li>
    <li class="Nav-item">
        <a href="#photos" class="js-smooth-scroll">Photos</a>
    </li>
    <li class="Nav-item">
        <a href="#documents" class="js-smooth-scroll">Documents</a>
    </li>
</ul>
<!-- End Navigation -->
