<!-- Navigation -->
<ul class="Nav" id="js-nav">
    <li class="Nav-item">
        <a href="#logos">Logos</a>
    </li>
    <li class="Nav-item">
        <a href="#colors">Colors</a>
    </li>
    <li class="Nav-item">
        <a href="#typography">Typography</a>
    </li>
    <li class="Nav-item">
        <a href="#icons">Icons</a>
    </li>
    <li class="Nav-item">
        <a href="#photos">Photos</a>
    </li>
    <li class="Nav-item">
        <a href="#templates">Templates</a>
    </li>
</ul>
<!-- End Navigation -->
