<section id="photos" class="Guideline" style="width:100%;">
    <div class="row">
        <div class="columns large-12">
           <div class="Guideline-title">Photos
            <a class="Guideline-download right" href="https://drive.google.com/open?id=0B3jcEP5rkX9sOWIxRUZzbEw0M0k">Download 19 photos</a>
           </div>
        <p>These are assets for use in decks, websites, or other similar applications; typically as a background element. There should be no logos, type, graphic elements, or other adornments directly on top of the image until it is placed in a layout and treated with a 50% black overlay.</p>
        </div>
    </div>
    <Br>
    <div class="row">
        <div class="columns large-6">
            <img src="./assets/photos/Benihana-keynotephoto12.jpg">
        </div>
        <div class="columns large-6">
            <img src="./assets/photos/Benihana-keynotephoto13.jpg">
        </div>
    </div>
    <div class="row" style="margin-top:2rem">
        <div class="columns large-6">
            <img src="./assets/photos/Benihana-keynotephoto4.jpg">
        </div>
        <div class="columns large-6">
            <img src="./assets/photos/Benihana-keynotephoto9.jpg">
        </div>
    </div>
     <div class="row" style="margin-top:2rem">
        <div class="columns large-6">
            <img src="./assets/photos/Benihana-keynotephoto1.jpg">
        </div>
        <div class="columns large-6">
            <img src="./assets/photos/Benihana-keynotephoto8.jpg">
        </div>
    </div>
</section>
