<section id="templates" class="Guideline" style="width:100%;">
    <div class="row">
        <div class="columns large-12">
           <div class="Guideline-title">Templates</div>
           <p>These are official templates approved for ISL use.  Each template should come with built-in visual styles so there is no need to create new text styles or graphic elements.  You should be able to work with existing styles.  if you find yourself needing a new template or asset, please contact the design department instead of creating your own.</p>
        </div>
    </div>
     <!-- Guideline -->
    <div class="Guideline-item row">

        <div class="columns small-12">
         <a class="Guideline-download mb" href="https://drive.google.com/open?id=0B3jcEP5rkX9sODBILW9CN2xVV28" target="_blank">Download Keynote (16x9)</a>
        </div>
        <div class="columns small-12 mt-1">
          <a href="https://drive.google.com/open?id=0B3jcEP5rkX9sODBILW9CN2xVV28"><img src="./assets/templates/presentation/preview.jpg"></a>
        </div>

    </div>

    <!-- Guideline -->
    <!--<div class="Guideline-item row">

        <div class="columns small-12">
         <span class="subheader mb-1">Document Template (8.5x11)</span>
        </div>
        <div class="columns small-9 mt-1">
          <img src="https://placeholdit.imgix.net/~text?txtsize=99&txt=Pages&w=900&h=500&bg=eeeeee">
        </div>
        <div class="columns small-3 mt-1">
            <a class="button button--dark">Pages</a>
        </div>
    </div>-->

</section>
