{# ======================================
Assets For Type Section
========================================= #}
{% set assetPath = './assets/typography' %}
{% set fontDownload = 'isl-fonts.zip' %}

{% set items = [
   {
    name: "Noe Display",
    sample: "Aa",
    sample_size: "120px",
    font_family: "noe-display",
    upper: true,
    lower: true,
    num: true,
    desc: " <li>Used for Titles</li>
            <li>Regular weight only</li>
            <li>Large size</li>"
  },
  {
    name: "Copy",
    sample: "AA",
    sample_size: "70px",
    font_family: "copy",
    upper: true,
    lower: false,
    num: true,
    desc: " <li>Used for Subheaders</li>
            <li>All Caps</li>
            <li>Bold weight only</li>"
  },
  {
    name: "Adelle Sans",
    sample: "Aa",
    sample_size: "80px",
    font_family: "adelle-sans",
    upper: true,
    lower: true,
    num: true,
    desc: " <li>Used for Body</li>
            <li>Regular/italic weights only</li>
            <li>Generous line spacing</li>"
  }
]
%}
<section id="fonts" class="Guideline" style="width:100%;">
    <div class="row">
        <div class="columns large-12">
           <div class="Guideline-title">Typography
           <!--<a class="button button--dark pull-right" href="https://drive.google.com/a/isl.co/file/d/0B3jcEP5rkX9sWTd3Q3h2aUI1SzA/view?usp=sharing" target="_blank"><img src="./static/img/icon-download.svg"> Download</a>-->

           </div>
           <!--<a class="dl-link Guideline-link ml1">Download All Fonts</a>-->

           <p>Our type is a visual expression of our voice.  Only the typefaces below should be used to represent ISL. Our font licenses are for internal use only and should not be provided to vendors for perpetual use.
           </p>
        </div>
        <!--<div class="columns large-4 Guideline-buttonAlign">


        </div>-->
    </div>


{% for item in items %}
    <div class="Typeswatch Guideline-item row">
      <div class="columns small-4" style="font-family:{{item.font_family}};">
          <div class="Typeswatch-sample" style="font-size:{{item.sample_size}}">{{item.sample}}</div>
          <div class="Typeswatch-name">{{item.name}}</div>
      </div>
        <div class="columns small-8">
          <div style="font-family:{{item.font_family}};">
            {% if item.upper %}<div class="Typeswatch-alphanum upper">abcdefghijklmnopqrstuvwyxz</div>{% endif %}
            {% if item.lower %}<div class="Typeswatch-alphanum lower">abcdefghijklmnopqrstuvwyxz</div>{% endif %}
            {% if item.num %}<div class="Typeswatch-alphanum num">1234567890&%{}</div>{% endif %}
          </div>
          <ul class="Guideline-list dashed">
              {{item.desc|safe }}
          </ul>
        </div>
    </div>
{% endfor %}
</section>


