{% extends '_base.html' %}

{% block content %}

{% include '_header.html' %}

<main class="content-wrapper" role="main">
    <section class="row">
        <div class="large-2">
            {% include '_nav.html' %}
        </div>
        <div class="large-10 small-12 columns">
                {% include '_logos.html' %}
                {% include '_colors.html' %}
                {% include '_typography.html' %}
                {% include '_templates.html' %}
                {% include '_photos.html' %}

        </div>
    </section>
</main>
{% include '_footer.html' %}

{% endblock %}

{% block javascripts %}
{{ super() }}
<script>
    console.log('Hello, index');
</script>
{% endblock %}
