{% extends '_base.html' %}

{% block content %}

<div class="Header">
    <div class="row">
        <div class="columns small-12 large-10">
            <img class="Header-logo" src="./assets/logos/isl-milk-logo-large-white.gif">
        </div>
        <div class="columns small-12 large-2" style="padding-top:3rem">
            <a class="button button--light" style="float:right">Press Kit</a>
        </div>
    </div>
    <div class="row">
        <div class="columns small-12">
            <h1>Our brand guidelines</h1>
        </div>
    </div>
    </div>
</div>
<div class="hero__down hero__down--light">
                <span style="position:relative;right:8px;top:-6px">Take a look</span>

                <svg width="85px" height="20px" viewBox="0 0 85 20">
                            <path d="M0 10 L85 10"></path>
                            <path d="M75 0 L85 10 L75 20"></path>
                        </svg>
            </div>
</div>

<main class="content-wrapper" role="main">
    <section class="row">
        <div class="large-2">
            {% include '_nav.html' %}
        </div>
        <div class="large-10 small-12 columns">
                {% include '_logos.html' %}
                {% include '_colors.html' %}
                {% include '_typography.html' %}
                {% include '_icons.html' %}
                {% include '_photos.html' %}
                {% include '_templates.html' %}
        </div>
    </section>
</main>
{% include '_footer.html' %}

{% endblock %}

{% block javascripts %}
{{ super() }}
<script>
    console.log('Hello, index');
</script>
{% endblock %}
