

body {
    background: $white;
    line-height: 1.5;
}

html, body{
  height:100%;
}

a {
    color: $turquoise;
    transition: all 250ms ease-out;

    :hover {
        color: $black !important;
        transition: all 250ms ease-out;
    }
}

p {
    color: $dark-gray;
    font-size: 1.4rem;
    line-height: 1.6;
}

h1 {
    font-family: freight-sans-pro, sans-serif;
    font-size:  92px;
    line-height: 1.2;
    font-weight: 700;
}

h2 {
    font-family: freight-sans-pro, sans-serif;
    font-size: 1.72rem;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0;

}

.content-wrapper {
    padding-top: 3rem;
}

.subheader {
    display: inline-block;
    font-family: $subheader-font-family;
    text-transform: uppercase;
    color: $black;
    font-weight: bold;
    font-size: 1rem;
    margin-bottom: 0.6rem;
}

.button {
    border: 4px solid $black;
    padding: 1rem;
    background: transparent;
    color: $black;
    text-transform: uppercase;
    font-family: $subheader-font-family;
    font-weight: bold;
    letter-spacing: 1px;


    &:hover {
        background: $black;
        color: $white;
    }
}

.button--light {
    color: $white;
    border-color: $white;

    &:hover {
        background: $white;
        color: $black;
    }
}

/*.button--ghost::before {
    content: '';
    display: block;
    position: absolute;
    top: -5px;
    left: -5px;
    width: 100%;
    width: calc(100% + 10px);
    height: 100%;
    height: calc(100% + 10px);
    border: 0.3125rem solid #f5f5f5;
    background-color: transparent;
    z-index: -1;
    -webkit-transform: translate3d(10px, 10px, 0);
    transform: translate3d(10px, 10px, 0);
    transition: all 0.4s;
}*/

.caption {
    display: block;
    font-style: italic;
    opacity: .4;
}



.white {
     color: $white;
}

.valign-middle {
    display: table;
}

.valign-middle .columns {
    display: table-cell;
    vertical-align: middle;
}

.valign-middle .columns,
.valign-middle [class*="column"] + [class*="column"]:last-child {
    float: none;
}

.pull-right {
    float: right !important;
}
