// ISL Fonts


// Noe Display
@font-face {
  font-family: 'noe-display';
  src: url('./assets/fonts/noe-display-regular.eot'); /* IE9 Compat Modes */
  src: url('./assets/fonts/noe-display-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./assets/fonts/noe-display-regular.woff') format('woff'), /* Modern Browsers */
       url('./assets/fonts/noe-display-regular.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('./assets/fonts/noe-display-regular.svg#84ee73b6001f4c1b2c339f04c7b9266e') format('svg'); /* Legacy iOS */

  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'noe-display';
  src: url('./assets/fonts/noe-display-medium.eot'); /* IE9 Compat Modes */
  src: url('./assets/fonts/noe-display-medium.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./assets/fonts/noe-display-medium.woff') format('woff'), /* Modern Browsers */
       url('./assets/fonts/noe-display-medium.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('./assets/fonts/noe-display-medium.svg#bee97428c63ec0fa0d3530ffe306b80b') format('svg'); /* Legacy iOS */

  font-style: normal;
  font-weight: 600;
}

@font-face {
  font-family: 'noe-display';
  src: url('./assets/fonts/noe-display-bold.eot'); /* IE9 Compat Modes */
  src: url('./assets/fonts/noe-display-bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./assets/fonts/noe-display-bold.woff') format('woff'), /* Modern Browsers */
       url('./assets/fonts/noe-display-bold.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('./assets/fonts/noe-display-bold.svg#d036bd1e88fce1e7d3097c62b9f7568c') format('svg'); /* Legacy iOS */

  font-style: normal;
  font-weight: 700;
}

// Copy
@font-face {
  font-family: 'copy';
  src: url('./assets/fonts/copy-bold.eot'); /* IE9 Compat Modes */
  src: url('./assets/fonts/copy-bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./assets/fonts/copy-bold.woff') format('woff'), /* Modern Browsers */
       url('./assets/fonts/copy-bold.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('./assets/fonts/copy-bold.svg#aa57914edbd52fbe7b90a46f84e03dbf') format('svg'); /* Legacy iOS */

  font-style: normal;
  font-weight: 700;
}
