// ISL Fonts
$font-noe:  'noe-display', noe, serif;
$font-copy: SuperFont, sans-serif;

// This is in relation to css
$font-directory: '../fonts';

@font-face {
    font-family: 'Cartograph Sans CF Extra';
    src: url('../fonts/CartographSansCF-ExtraBoldItalic.eot');
    src: url('../fonts/CartographSansCF-ExtraBoldItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/CartographSansCF-ExtraBoldItalic.woff') format('woff'),
        url('../fonts/CartographSansCF-ExtraBoldItalic.svg#CartographSansCF-ExtraBoldItalic') format('svg');
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: 'Cartograph Mono CF Extra';
    src: url('../fonts/CartographMonoCF-ExtraBold.eot');
    src: url('../fonts/CartographMonoCF-ExtraBold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/CartographMonoCF-ExtraBold.woff') format('woff'),
        url('../fonts/CartographMonoCF-ExtraBold.svg#CartographMonoCF-ExtraBold') format('svg');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Cartograph Sans CF';
    src: url('../fonts/CartographSansCF-Bold.eot');
    src: url('../fonts/CartographSansCF-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/CartographSansCF-Bold.woff') format('woff'),
        url('../fonts/CartographSansCF-Bold.svg#CartographSansCF-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Cartograph Mono CF';
    src: url('../fonts/CartographMonoCF-MediumItalic.eot');
    src: url('../fonts/CartographMonoCF-MediumItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/CartographMonoCF-MediumItalic.woff') format('woff'),
        url('../fonts/CartographMonoCF-MediumItalic.svg#CartographMonoCF-MediumItalic') format('svg');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Sharp Grotesk';
    src: url('../fonts/SharpGroteskBold25.eot');
    src: url('../fonts/SharpGroteskBold25.eot?#iefix') format('embedded-opentype'),
        url('../fonts/SharpGroteskBold25.woff') format('woff'),
        url('../fonts/SharpGroteskBold25.svg#SharpGroteskBold25') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Cartograph Sans CF';
    src: url('../fonts/CartographSansCF-RegularItalic.eot');
    src: url('../fonts/CartographSansCF-RegularItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/CartographSansCF-RegularItalic.woff') format('woff'),
        url('../fonts/CartographSansCF-RegularItalic.svg#CartographSansCF-RegularItalic') format('svg');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Cartograph Sans CF';
    src: url('../fonts/CartographSansCF-BoldItalic.eot');
    src: url('../fonts/CartographSansCF-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/CartographSansCF-BoldItalic.woff') format('woff'),
        url('../fonts/CartographSansCF-BoldItalic.svg#CartographSansCF-BoldItalic') format('svg');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Cartograph Mono CF';
    src: url('../fonts/CartographMonoCF-HeavyItalic.eot');
    src: url('../fonts/CartographMonoCF-HeavyItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/CartographMonoCF-HeavyItalic.woff') format('woff'),
        url('../fonts/CartographMonoCF-HeavyItalic.svg#CartographMonoCF-HeavyItalic') format('svg');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Cartograph Mono CF Demi';
    src: url('../fonts/CartographMonoCF-DemiBoldItalic.eot');
    src: url('../fonts/CartographMonoCF-DemiBoldItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/CartographMonoCF-DemiBoldItalic.woff') format('woff'),
        url('../fonts/CartographMonoCF-DemiBoldItalic.svg#CartographMonoCF-DemiBoldItalic') format('svg');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'Cartograph Sans CF';
    src: url('../fonts/CartographSansCF-LightItalic.eot');
    src: url('../fonts/CartographSansCF-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/CartographSansCF-LightItalic.woff') format('woff'),
        url('../fonts/CartographSansCF-LightItalic.svg#CartographSansCF-LightItalic') format('svg');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Cartograph Mono CF';
    src: url('../fonts/CartographMonoCF-BoldItalic.eot');
    src: url('../fonts/CartographMonoCF-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/CartographMonoCF-BoldItalic.woff') format('woff'),
        url('../fonts/CartographMonoCF-BoldItalic.svg#CartographMonoCF-BoldItalic') format('svg');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Cartograph Mono CF Demi';
    src: url('../fonts/CartographMonoCF-DemiBold.eot');
    src: url('../fonts/CartographMonoCF-DemiBold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/CartographMonoCF-DemiBold.woff') format('woff'),
        url('../fonts/CartographMonoCF-DemiBold.svg#CartographMonoCF-DemiBold') format('svg');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Cartograph Mono CF Extra';
    src: url('../fonts/CartographMonoCF-ExtraBoldItalic.eot');
    src: url('../fonts/CartographMonoCF-ExtraBoldItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/CartographMonoCF-ExtraBoldItalic.woff') format('woff'),
        url('../fonts/CartographMonoCF-ExtraBoldItalic.svg#CartographMonoCF-ExtraBoldItalic') format('svg');
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: 'Cartograph Sans CF';
    src: url('../fonts/CartographSansCF-ThinItalic.eot');
    src: url('../fonts/CartographSansCF-ThinItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/CartographSansCF-ThinItalic.woff') format('woff'),
        url('../fonts/CartographSansCF-ThinItalic.svg#CartographSansCF-ThinItalic') format('svg');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'Cartograph Sans CF';
    src: url('../fonts/CartographSansCF-Light.eot');
    src: url('../fonts/CartographSansCF-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/CartographSansCF-Light.woff') format('woff'),
        url('../fonts/CartographSansCF-Light.svg#CartographSansCF-Light') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Cartograph Sans CF Extra';
    src: url('../fonts/CartographSansCF-ExtraBold.eot');
    src: url('../fonts/CartographSansCF-ExtraBold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/CartographSansCF-ExtraBold.woff') format('woff'),
        url('../fonts/CartographSansCF-ExtraBold.svg#CartographSansCF-ExtraBold') format('svg');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Cartograph Mono CF';
    src: url('../fonts/CartographMonoCF-ThinItalic.eot');
    src: url('../fonts/CartographMonoCF-ThinItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/CartographMonoCF-ThinItalic.woff') format('woff'),
        url('../fonts/CartographMonoCF-ThinItalic.svg#CartographMonoCF-ThinItalic') format('svg');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'Cartograph Mono CF';
    src: url('../fonts/CartographMonoCF-Heavy.eot');
    src: url('../fonts/CartographMonoCF-Heavy.eot?#iefix') format('embedded-opentype'),
        url('../fonts/CartographMonoCF-Heavy.woff') format('woff'),
        url('../fonts/CartographMonoCF-Heavy.svg#CartographMonoCF-Heavy') format('svg');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Cartograph Sans CF Demi';
    src: url('../fonts/CartographSansCF-DemiBold.eot');
    src: url('../fonts/CartographSansCF-DemiBold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/CartographSansCF-DemiBold.woff') format('woff'),
        url('../fonts/CartographSansCF-DemiBold.svg#CartographSansCF-DemiBold') format('svg');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Cartograph Mono CF';
    src: url('../fonts/CartographMonoCF-LightItalic.eot');
    src: url('../fonts/CartographMonoCF-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/CartographMonoCF-LightItalic.woff') format('woff'),
        url('../fonts/CartographMonoCF-LightItalic.svg#CartographMonoCF-LightItalic') format('svg');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Cartograph Sans CF Demi';
    src: url('../fonts/CartographSansCF-DemiBoldItalic.eot');
    src: url('../fonts/CartographSansCF-DemiBoldItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/CartographSansCF-DemiBoldItalic.woff') format('woff'),
        url('../fonts/CartographSansCF-DemiBoldItalic.svg#CartographSansCF-DemiBoldItalic') format('svg');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'Cartograph Sans CF';
    src: url('../fonts/CartographSansCF-Regular.eot');
    src: url('../fonts/CartographSansCF-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/CartographSansCF-Regular.woff') format('woff'),
        url('../fonts/CartographSansCF-Regular.svg#CartographSansCF-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Cartograph Sans CF';
    src: url('../fonts/CartographSansCF-Heavy.eot');
    src: url('../fonts/CartographSansCF-Heavy.eot?#iefix') format('embedded-opentype'),
        url('../fonts/CartographSansCF-Heavy.woff') format('woff'),
        url('../fonts/CartographSansCF-Heavy.svg#CartographSansCF-Heavy') format('svg');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Cartograph Sans CF';
    src: url('../fonts/CartographSansCF-Medium.eot');
    src: url('../fonts/CartographSansCF-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/CartographSansCF-Medium.woff') format('woff'),
        url('../fonts/CartographSansCF-Medium.svg#CartographSansCF-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Cartograph Sans CF';
    src: url('../fonts/CartographSansCF-Thin.eot');
    src: url('../fonts/CartographSansCF-Thin.eot?#iefix') format('embedded-opentype'),
        url('../fonts/CartographSansCF-Thin.woff') format('woff'),
        url('../fonts/CartographSansCF-Thin.svg#CartographSansCF-Thin') format('svg');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Cartograph Mono CF';
    src: url('../fonts/CartographMonoCF-RegularItalic.eot');
    src: url('../fonts/CartographMonoCF-RegularItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/CartographMonoCF-RegularItalic.woff') format('woff'),
        url('../fonts/CartographMonoCF-RegularItalic.svg#CartographMonoCF-RegularItalic') format('svg');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Cartograph Mono CF';
    src: url('../fonts/CartographMonoCF-Regular.eot');
    src: url('../fonts/CartographMonoCF-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/CartographMonoCF-Regular.woff') format('woff'),
        url('../fonts/CartographMonoCF-Regular.svg#CartographMonoCF-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Cartograph Mono CF';
    src: url('../fonts/CartographMonoCF-Light.eot');
    src: url('../fonts/CartographMonoCF-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/CartographMonoCF-Light.woff') format('woff'),
        url('../fonts/CartographMonoCF-Light.svg#CartographMonoCF-Light') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Sharp Grotesk';
    src: url('../fonts/SharpGroteskSmBold25.eot');
    src: url('../fonts/SharpGroteskSmBold25.eot?#iefix') format('embedded-opentype'),
        url('../fonts/SharpGroteskSmBold25.woff') format('woff'),
        url('../fonts/SharpGroteskSmBold25.svg#SharpGroteskSmBold25') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Cartograph Mono CF';
    src: url('../fonts/CartographMonoCF-Thin.eot');
    src: url('../fonts/CartographMonoCF-Thin.eot?#iefix') format('embedded-opentype'),
        url('../fonts/CartographMonoCF-Thin.woff') format('woff'),
        url('../fonts/CartographMonoCF-Thin.svg#CartographMonoCF-Thin') format('svg');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Cartograph Sans CF';
    src: url('../fonts/CartographSansCF-MediumItalic.eot');
    src: url('../fonts/CartographSansCF-MediumItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/CartographSansCF-MediumItalic.woff') format('woff'),
        url('../fonts/CartographSansCF-MediumItalic.svg#CartographSansCF-MediumItalic') format('svg');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Basier Circle';
    src: url('../fonts/BasierCircle-Regular.eot');
    src: url('../fonts/BasierCircle-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/BasierCircle-Regular.woff') format('woff'),
        url('../fonts/BasierCircle-Regular.svg#BasierCircle-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Sharp Grotesk';
    src: url('../fonts/SharpGroteskMedium25.eot');
    src: url('../fonts/SharpGroteskMedium25.eot?#iefix') format('embedded-opentype'),
        url('../fonts/SharpGroteskMedium25.woff') format('woff'),
        url('../fonts/SharpGroteskMedium25.svg#SharpGroteskMedium25') format('svg');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Cartograph Mono CF';
    src: url('../fonts/CartographMonoCF-Medium.eot');
    src: url('../fonts/CartographMonoCF-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/CartographMonoCF-Medium.woff') format('woff'),
        url('../fonts/CartographMonoCF-Medium.svg#CartographMonoCF-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Cartograph Sans CF';
    src: url('../fonts/CartographSansCF-HeavyItalic.eot');
    src: url('../fonts/CartographSansCF-HeavyItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/CartographSansCF-HeavyItalic.woff') format('woff'),
        url('../fonts/CartographSansCF-HeavyItalic.svg#CartographSansCF-HeavyItalic') format('svg');
    font-weight: 900;
    font-style: italic;
}

