.footer {
    position: relative;
    padding-bottom: 4rem;
    background-color: $turquoise;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    @include breakpoint(medium) {
        border: rem-calc(17) solid #fff;

        .row {
            width: 100%;
        }
    }
}

.footer--pull-up {
    @include breakpoint(medium) {
        margin-top: -10rem;
    }

    @include breakpoint(large) {
        margin-top: -15rem;
    }
}

.footer--case-study {
    z-index: 3;
}

    .footer__cta {
        width: 100%;
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;

        .row {
            width: 100%;
        }

        @include breakpoint(small only) {
            align-items: center;
            text-align: center;
        }
    }

        .footer-cta__button {
            margin-top: rem-calc(44);
            z-index: 1;
        }

    .footer__message {
        font-family: $font-copy-bold;
        font-weight: 700;
        font-size: 0.75rem;
        color: rgba(#000, 0.35);
        text-transform: uppercase;

        @include breakpoint(medium) {
            font-size: rem-calc(14);
        }

        a {
            color: inherit;
            transition: all 300ms ease-in-out;

            &:hover {
                color: #000;
            }
        }
    }

    .footer__social {
        display: inline-block;
        color: rgba(#000, 0.3);
        font-size: 1.5rem;
        margin-left: 0.5rem;
        transition: all ease-in-out 300ms;

        @include breakpoint(small only) {
            color: rgba(#000, 0.35);
            margin: 0 0.25rem;
        }

        &:hover {
            color: rgba(#000, 0.9);
        }
    }

    .footer__social-container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-top: 1rem;

        @include breakpoint(medium) {
            justify-content: flex-end;
            margin-top: 0;
        }
    }
