.Guideline {
    //background: #fff;
    //box-shadow: 0 0 1.2rem rgba(0, 0, 0, 0.1);
    padding-right: 4% !important;
    padding-left: 7% !important;
    padding-top: 0;
    padding-bottom: 10%;
    margin-bottom: 3rem;
}

.Guideline-title {
    position: relative;
    margin-bottom: .5rem;
    padding-top: .73em; // this offset should visually match the fixed nav property.
                        // Use 'ems' so that it accounts for the line height
    font-family: $font-noe-display;
    font-size: 3rem;
    font-weight: bold;
    text-transform: uppercase;

}

.Guideline-download {
  display: inline-block;
  font-family: $font-copy-bold;
  text-transform: uppercase;
  font-size: .9rem;
  font-weight: bold;
  letter-spacing: .5px;
  color: $black;
  padding-bottom: 2px;
  border-bottom: 3px solid $aqua;

  &:hover {
    color: $aqua;
    //border-bottom: 0;
    // padding-bottom: 0;
    //border-color: $white;
  }

  &.right {
    position: absolute;
    bottom: 22%;
    right: 0;
  }

 /* &:before {
    content: url("data:image/svg+xml; utf8, <svg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px'
   viewBox='0 0 16 16' style='enable-background:new 0 0 16 16;' xml:space='preserve'>
<style type='text/css'>
  .st0{fill:#43D8F8;}
</style>
<title>icon-arrow</title>
<desc>Created with Sketch.</desc>
<g id='Page-1'>
  <g id='icon-arrow'>
    <path id='arrow' fill='#43D8f8' d='M6.9,0v12.4h1.8V0L6.9,0z M8.6,11.7l-6-6L1.4,7l6,6L8.6,11.7z M12.9,5.7l-6,6L8.1,13l6-6L12.9,5.7
      z M8.2,13l-0.4-0.4L7.4,13l0.4,0.4L8.2,13z'/>
  </g>
</g>
<rect y='14.2' fill='#43D8f8' width='16' height='1.8'/>
</svg>");
    display: block;
    float: left;
    width: 14px;
    height: 11px;
    margin-right: 8px;
    position: relative;
    bottom: -2px;

  }*/
}

.Guideline-item {
    padding-top: 3rem;
}

.Guideline-link {
    display: block;
    text-transform: uppercase;
    font-family: $subheader-font-family;
    font-weight: 700;
    font-size: 75%;
}

.Guideline-buttonAlign {
  padding-top: 2.2rem;
}

.Guideline-list {
    opacity: 1;
}

ul {
  margin: 0;
}
ul.dashed {
  list-style-type: none;
}
ul.dashed > li {
  text-indent: 0px;
}
ul.dashed > li:before {
  content: "— ";
  text-indent: 0px;
}


.swatch {
  width: 20%;
  float: left;
  border-radius: 50%;
  margin-right: 2rem;
  margin-bottom: 10%;
  &:after {
    display: block;
    content: '';
    padding-bottom: 100%;
  }
}

.swatch-details {
  padding-left: 1rem;
  margin-left: 30%;
  margin-top: -.25em;
  list-style: none;
}



