.Guideline {
    //background: #fff;
    //box-shadow: 0 0 1.2rem rgba(0, 0, 0, 0.1);
    padding: 7.5% 10%;
    padding-top: 0;
    margin-bottom: 3rem;
}

.Guideline-title {
    font-family: 'noe-display';
    font-size: $header-size-1;
    font-weight: 400;
    margin-bottom: .5rem;
    padding-top: .73em; // this offset should visually match the fixed nav property.
                        // Use 'ems' so that it accounts for the line height
}

.Guideline-item {
    padding-top: 3rem;
}

.Guideline-link {
    display: block;
    text-transform: uppercase;
    font-family: $subheader-font-family;
    font-weight: 700;
    font-size: 75%;
}

.Guideline-buttonAlign {
  padding-top: 2.2rem;
}

.Guideline-list {
    opacity: .5;
}

ul {
  margin: 0;
}
ul.dashed {
  list-style-type: none;
}
ul.dashed > li {
  text-indent: 0px;
}
ul.dashed > li:before {
  content: "— ";
  text-indent: 0px;
}


.swatch {
  width: 20%;
  float: left;
  border-radius: 50%;
  margin-right: 2rem;
  margin-bottom: 10%;
  &:after {
    display: block;
    content: '';
    padding-bottom: 100%;
  }
}

.swatch-details {
  padding-left: 1rem;
  margin-left: 30%;
  margin-top: -.25em;
  list-style: none;
}
