.Header {
    background: $black;
    height: 90%;
    width: 100%;
    margin-bottom: 2rem;
    //border: 1.05rem solid $turquoise;
    border-bottom: 0;

    .button {
        background: $black;
    }
}

.Header-inner {
        position: relative;
    top: 50%;
    transform: translateY(-189%)
}

.Header-logo {
    padding-top: 1rem;
    max-width: 150px;
}

.Header-cta {
    margin-top: 4rem;
}

.Header-title {
   padding-top: 0;
}

.hero__down {
    @include breakpoint(medium) {
        font-family: $subheader-font-family;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: .15em;
        font-size: .9rem;
        position: absolute;
        right: .9375rem;
        top: 50%;
        right: 10%;
        -webkit-transform: translateX(50%) translateY(-50%) rotate(90deg) translateY(5px);
        transform: translateX(50%) translateY(-50%) rotate(90deg) translateY(5px);
    }
}

.hero__down--light {
    color: #fff;
}

.hero__down--light svg path {
    stroke: #fff;
}

.hero__down svg path {
    stroke-width: 2px;
    fill: none;
}

.Header-viz {
    position: absolute;
    top: 0;
    left: -20%;
    width: 100%;
    height: 100%;
    transform: scale(1.2);
    opacity: .6;
}

// ----
.hero-underline {
    position: relative;
}

.hero-underline:after {
    content: '';
    position: absolute;
    bottom: -10px;
    left: -2px;
    width: 100%;
    width: calc(100% + 4px);
    height: .1em;
    background-color: #0E2CE4;
    z-index: -1;
    transition: background-color .4s;
}
